source ~/.vimrc

" map <leader>f <Action>(ReformatCode)

" todo: support all arrows and visual mode
" inoremap <silent> <expr> <S-Right> (col('.') == 1 ? '<Esc>v/[^a-z]<CR><Left>' : '<Esc><Right>v/[^a-z]<CR><Left>')
" inoremap <S-End> <Esc>v$

" set commentary
set easymoton
set highlightedyank
set NERDTree
set surround
set keep-english-in-normal-and-restore-in-insert